@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  padding-top: 40px;

}
#image-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

#imgtopsite {
  width: 70%;
  min-width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px auto;
  margin-bottom: 1px;
}

.quadros{
  background-color: #fcb042;
  width: 100%;
  min-width: 400px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame {
  width: 65%;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.quadro-quadros {
  width: 20%;
  min-width: 85px;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pets {
  max-width: 70%;
}

#quadro01 {
  background-color: #ffffff;
}

#div-quadro-02 {
  justify-content: center;
  width: 20%;
  height: 15.7vmax;
  background-color: #252326;
}

#quadro02 {
  padding: 5%;
  color: #fdfdfd;
  font-size: 2vmax;
  font-weight: 700;
  text-align: center;
}


#div-quadro-03 {
  justify-content: center;
  width: 20%;
  height: 15.7vmax;
  background-color: #734c2d;
}

#quadro03 {
  background-color: #fdfdfd;
}

#quadro04 {
  padding: 5%;
  color: #ffffff;
  font-size: 1.5vmax;
  font-weight: 700;
  text-align: center;
}

#div-quadro-04 {
  justify-content: center;
  width: 20%;
  height: 15.7vmax;
  background-color: #4a4a4a;
}

#quadro05 {
  background-color: rgb(233, 233, 69);
}

#quadro06 {
  background-color: #fdfdfd;
}


#quadro07 {
  background-color: #734c2d;
}

#quadro08 {
  padding: 5%;
  color: rgb(233, 233, 69);
  font-size: 2vmax;
  font-weight: 700;
  text-align: center;
}

#quadro09 {
  background-color: rgb(233, 233, 69);
}

#quadro10 {
  background-color: #734c2d;
}

.quadro-quadros img {
  width: 100%;
  opacity: 0.8;
  transition: all 0.9s;
  cursor: pointer;
}

.quadro-quadros img:hover{
  opacity: 1;
}

.quadro-quadros .bi {
  width: 100%;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

article {
  width: 100%;
  height: 90vh;
  font-family: 'Montserrat';
  margin: 0 auto;
  margin-bottom: .5rem;
}

.conteudo {
  width: 90%;
  margin: 5%;
  min-width: 900px;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


article h3 {
  font-size: 2rem;
  padding-top: 0.5vmax;
}

article a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

article a:hover {
  color: #ecfc42;

}

article p {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  padding: 5px;
}

article img {
  padding: 5px;
  width: 30%;
  padding-bottom: 4rem;
}

#quem-somos {
  min-width: 400px;
  height: 85vh;
  padding: 1rem;
  background-color: #d5d5d5;
}

#quem-somos h3 {
  color: #734c2d;
}

#quem-somos p {
  color: #252326;
}

#voluntarios {
  background-color: #fcb042;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

#voluntarios img {
  align-items: center;
  justify-content: center;
  width: 80%;

}

.div-imagens-artigo {
  display: flex;
  align-items: center;
  justify-content: center;
}


#voluntarios h3 {
  color: #734c2d;
}

#voluntarios p {
  color: #252326;
}

.div-form {
  width: 100%;
  display: flex;
  justify-content: right;

}

#formulario-voluntario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #252326;
  width: 85%;
  height: 85%;
}

#formulario-voluntario label {
  font-family: Arial, sans-serif;
  font-size: 0.8vmax;
  color: #252326;
}

input {
  border-radius: 5px;
  border-style: none;
}

.text-input {
  width: 95%;
  padding: 1%;
  font-family: Arial, sans-serif;
  color: #252326;
}

.input-div {
  width: 48%;
  padding: 0.1%;
}

#msg {
  width: 38vmax;
  padding: 1%;
  border-style: none;
}

textarea {
  border-radius: 10px;
  resize: none;
}

#enviar {
  border-style: none;
  background-color: #252326;
  width: 38vmax;
  padding: 0.6vmax;
  color: #fdfdfd;
  margin: 0.3vmax;
  border-radius: 10px;
  cursor: pointer;

}

#enviar:hover {
  background-color: #734c2d;
  color: white;
  transform: scale(1.02);
  transition: all .4s;
  cursor: pointer;
}


#adoçoes{
  width: 100%;
  height: 100%;
  background-color: #252326;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteudo-artigo {
  width: 90%;
  height: 100%;
}

.artigo {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem 0;
  padding: 0.5rem;
}

.animais-padrinhos {
  width: 40%;
  display: flex;
  justify-content: center;

}

.animais-padrinhos > img{
  width: 200px;
  padding: 2rem 0;
}

.text-artigo {
  width: 100%;
  align-items: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  padding: .3rem;
}

.text-artigo h3 , .artigo h3{
  color: white;
}
.text-artigo p{
  color: #939473;
}

#doacoes{
  width: 100%;
  min-width: 900px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#efc29d;
}

.conteudo-doacoes{
  width: 90%;
  height: 90%;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artigo-doacoes {
  width: 60%;
  min-width: 900px;
  display: block;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 1rem;
  padding: 5rem 0.7rem;
}
.img-doacoes {
  width: 35%;
  min-width: 300px;
  margin: 0 .5rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-doacoes img{
  width: 400px;
  padding: 0.5rem 0;
}

#doacoes h3{
  color:#252326;
  text-align: right;
}

#doações p {
  color:#4a4a4a;
  text-align: right;
}


#contatos {
  width: 100%;
  min-width: 900px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#815b3b;
}
.conteudo-contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 1440px;
  height: 90%;
  margin: 3rem auto;
  padding: 2rem;
}


.texto-contato {
  width: 50%;
  min-width: 700px;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 3rem 0.6rem;
  margin: 2rem;
}

.img-contato {
  width: 50%;
  min-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-contato img{
  width: 400px;
}

#contatos h3{
  color:#fcb042;
}
#contatos p{
  color:#e1e1d9   ;
}

#contatos-web {
  display: flex;
  flex-direction: column;
}

#contatos-wev a {
  text-decoration: none;
}

.whats-icon {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 20%;
  background: #4bad21;
  color: #FFF;
}

.vakinha-icon {
    position: relative;
  width: 36px;
  height: 36px;
  border-radius: 20%;
  color: #FFF;
}

.insta-icon {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 20%;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}
.insta-icon:after,
.insta-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  content: ''
}
.insta-icon:before {
  border-radius: 20%
}
.insta-icon:after {
  width: 11px;
  height: 11px;
  border-radius: 50%
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 10px 0;
  bottom: 0;
}


footer span {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.15rem;
}